USE [Biometrico]
GO
/****** Object:  Table [dbo].[AccessGroup]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessGroup](
	[AccessGroupid] [int] NOT NULL,
	[AccessGroupName] [varchar](50) NULL,
	[AccessTimeid1] [int] NULL,
	[AccessTimeid2] [int] NULL,
	[AccessTimeid3] [int] NULL,
	[AccessTimeid4] [int] NULL,
 CONSTRAINT [PK_AccessGroup] PRIMARY KEY CLUSTERED 
(
	[AccessGroupid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessTime]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessTime](
	[AccessTimeid] [int] NOT NULL,
	[AccessTimeName] [varchar](50) NULL,
	[MONBeginTime] [char](5) NULL,
	[MONEndTime] [char](5) NULL,
	[TUEBeginTime] [char](5) NULL,
	[TUEEndTime] [char](5) NULL,
	[WEDBeginTime] [char](5) NULL,
	[WEDEndTime] [char](5) NULL,
	[THUBeginTime] [char](5) NULL,
	[THUEndTime] [char](5) NULL,
	[FRIBeginTime] [char](5) NULL,
	[FRIEndTime] [char](5) NULL,
	[SATBeginTime] [char](5) NULL,
	[SATEndTime] [char](5) NULL,
	[SUNBeginTime] [char](5) NULL,
	[SUNEndTime] [char](5) NULL,
 CONSTRAINT [PK_AccessTime] PRIMARY KEY CLUSTERED 
(
	[AccessTimeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adjuntos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adjuntos](
	[IdAdjunto] [int] NOT NULL,
	[url] [varchar](255) NULL,
	[Userid] [varchar](20) NULL,
	[NomAdj] [varchar](255) NULL,
	[TipoAdj] [varchar](255) NULL,
 CONSTRAINT [PK_Adjuntos] PRIMARY KEY CLUSTERED 
(
	[IdAdjunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ausencias]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ausencias](
	[IdAusencia] [tinyint] NOT NULL,
	[NomAusencia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Ausencias] PRIMARY KEY CLUSTERED 
(
	[IdAusencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasePara]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasePara](
	[Company] [varchar](100) NOT NULL,
	[TwoDay] [smallint] NOT NULL,
	[NoClockIn] [bit] NOT NULL,
	[NoClockOut] [bit] NOT NULL,
	[LateTime] [smallint] NOT NULL,
	[LeaveTime] [smallint] NOT NULL,
	[ISOverTime] [bit] NOT NULL,
	[OverTime] [smallint] NOT NULL,
	[WorkDayLong] [smallint] NOT NULL,
	[WOverTime] [numeric](18, 2) NULL,
	[HOverTime] [numeric](18, 2) NULL,
	[FOverTime] [numeric](18, 2) NULL,
	[OvertimeIn] [int] NULL,
	[IsovertimeIn] [bit] NULL,
	[DeductIn] [bit] NULL,
	[DeductOut] [bit] NULL,
	[MinWorkLong] [int] NULL,
	[MaxWorkLong] [int] NULL,
	[RestDays] [int] NULL,
	[CustomField] [image] NULL,
	[Contacts] [varchar](100) NULL,
	[Address] [varchar](255) NULL,
	[Country] [varchar](100) NULL,
	[Telephone] [varchar](100) NULL,
	[FaxNumber] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Website] [varchar](100) NULL,
	[Province] [varchar](100) NULL,
	[Companylogo] [image] NULL,
	[databasever] [int] NULL,
	[gw_leave1] [float] NULL,
	[gw_leave2] [float] NULL,
	[gw_leave3] [float] NULL,
	[gr_leave1] [float] NULL,
	[gr_leave2] [float] NULL,
	[gr_leave3] [float] NULL,
	[gh_leave1] [float] NULL,
	[gh_leave2] [float] NULL,
	[gh_leave3] [float] NULL,
 CONSTRAINT [PK_BasePara] PRIMARY KEY CLUSTERED 
(
	[Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentroCosto]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentroCosto](
	[IdCentroCosto] [tinyint] NOT NULL,
	[NomCentro] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CentroCosto] PRIMARY KEY CLUSTERED 
(
	[IdCentroCosto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkinout]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkinout](
	[Logid] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](20) NOT NULL,
	[CheckTime] [datetime] NOT NULL,
	[CheckType] [int] NOT NULL,
	[Sensorid] [int] NULL,
	[WorkType] [int] NULL,
	[AttFlag] [int] NULL,
	[Checked] [bit] NULL,
	[Exported] [bit] NULL,
	[OpenDoorFlag] [bit] NULL,
	[Cedula] [bigint] NULL,
	[Entrada] [bit] NULL,
	[Fecha] [datetime] NULL,
	[Hora] [datetime] NULL,
	[Festivo] [bit] NULL,
	[FhRegitro] [datetime] NULL,
	[IdHorario] [tinyint] NULL,
	[otraHora] [datetime] NULL,
	[temperature] [float] NULL,
	[whynoopen] [int] NULL,
	[mask] [int] NULL,
 CONSTRAINT [PK_Checkinout] PRIMARY KEY CLUSTERED 
(
	[Logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Checkinout] UNIQUE NONCLUSTERED 
(
	[Userid] ASC,
	[CheckTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckLog]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckLog](
	[Logid] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](20) NOT NULL,
	[Checktime] [datetime] NOT NULL,
	[Checktype] [int] NULL,
	[Sensorid] [int] NULL,
	[WorkType] [int] NULL,
	[AttFlag] [int] NULL,
	[OPFlag] [smallint] NULL,
	[Whys] [varchar](250) NULL,
	[OPname] [varchar](50) NULL,
	[DTime] [datetime] NOT NULL,
 CONSTRAINT [PK_CheckLog] PRIMARY KEY CLUSTERED 
(
	[Logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colores]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colores](
	[IdColor] [tinyint] NOT NULL,
	[NomColor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Colores] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comunidades]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comunidades](
	[IdComunidad] [tinyint] NOT NULL,
	[NomComunidad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Comunidades] PRIMARY KEY CLUSTERED 
(
	[IdComunidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefineField]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefineField](
	[Fieldid] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [varchar](20) NULL,
	[FieldValue] [varchar](50) NULL,
 CONSTRAINT [PK_DefineField] PRIMARY KEY CLUSTERED 
(
	[Fieldid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dept]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept](
	[Deptid] [int] NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
	[SupDeptid] [int] NULL,
 CONSTRAINT [PK_Dept_1] PRIMARY KEY CLUSTERED 
(
	[Deptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Depth]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depth](
	[Deptid] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NOT NULL,
	[SupDeptid] [int] NOT NULL,
 CONSTRAINT [PK_Dept] PRIMARY KEY CLUSTERED 
(
	[Deptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_DeptName] UNIQUE NONCLUSTERED 
(
	[DeptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceGroup]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceGroup](
	[devicegroupid] [int] IDENTITY(1,1) NOT NULL,
	[devicegroupname] [varchar](160) NULL,
	[supdevicegroupid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[devicegroupid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[CodDiagnostico] [varchar](5) NOT NULL,
	[NomDiagnostico] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Diagnostico] PRIMARY KEY CLUSTERED 
(
	[CodDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplinario]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplinario](
	[IdDisciplinario] [tinyint] NOT NULL,
	[NomDisc] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Disciplinario] PRIMARY KEY CLUSTERED 
(
	[IdDisciplinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elemento]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elemento](
	[IdElemento] [smallint] NOT NULL,
	[NomElemento] [varchar](90) NOT NULL,
	[Unidad] [varchar](10) NULL,
	[EPP] [bit] NULL,
	[TipoEle] [varchar](20) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Elemento] PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElementoTalla]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementoTalla](
	[IdEleTal] [int] NOT NULL,
	[IdElemento] [tinyint] NULL,
	[IdTalla] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElemTipoColor]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElemTipoColor](
	[IdEtc] [smallint] NOT NULL,
	[Elemento] [smallint] NOT NULL,
	[IdColor] [tinyint] NOT NULL,
	[TipoDotacion] [tinyint] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_ElemTipoColor] PRIMARY KEY CLUSTERED 
(
	[IdEtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escalafon]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escalafon](
	[IdEscalafon] [tinyint] NOT NULL,
	[NomEscalafon] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Escalafon] PRIMARY KEY CLUSTERED 
(
	[IdEscalafon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvDspCalificaciones]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvDspCalificaciones](
	[Cedula] [int] NOT NULL,
	[IdCriterioCal] [nvarchar](7) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[AutoCalif] [tinyint] NULL,
	[CalifJefe] [int] NULL,
	[FechaCalifJA] [datetime] NULL,
 CONSTRAINT [PK_EvDspCalificaciones] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC,
	[IdCriterioCal] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvDspCompetencias]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvDspCompetencias](
	[IdPerfil] [tinyint] NOT NULL,
	[IdTipo] [tinyint] NOT NULL,
	[IdCompetencia] [tinyint] NOT NULL,
	[NomCompetencia] [nvarchar](255) NOT NULL,
	[DefCompetencia] [ntext] NOT NULL,
 CONSTRAINT [PK_EvDspCompetencias] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdTipo] ASC,
	[IdCompetencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvDspCriterios]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvDspCriterios](
	[IdPerfil] [tinyint] NOT NULL,
	[IdTipo] [tinyint] NOT NULL,
	[IdCompetencia] [tinyint] NOT NULL,
	[IdCriterio] [tinyint] NOT NULL,
	[NomCriterio] [nvarchar](255) NOT NULL,
	[IdCriterioCal] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_EvDspCriterios] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdTipo] ASC,
	[IdCompetencia] ASC,
	[IdCriterio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_EvDspCriterios] UNIQUE NONCLUSTERED 
(
	[IdCriterioCal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvDspEncuestado]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvDspEncuestado](
	[Cedula] [int] NOT NULL,
	[Trabajador] [nvarchar](255) NOT NULL,
	[Cargo] [nvarchar](255) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[JefeInmediato] [int] NOT NULL,
 CONSTRAINT [PK_EvDspEncuestado] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvDspPerfil]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvDspPerfil](
	[IdPerfil] [tinyint] NOT NULL,
	[NomPerfil] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_EvDspPerfil] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvDspTipo]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvDspTipo](
	[IdPerfil] [tinyint] NOT NULL,
	[IdTipo] [tinyint] NOT NULL,
	[NomTipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EvDspTipo] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC,
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaFunza]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaFunza](
	[Cedula] [varchar](15) NULL,
	[Entrada] [bit] NULL,
	[Fecha] [datetime] NULL,
	[Hora] [datetime] NULL,
	[Festivo] [bit] NULL,
	[FhRegitro] [datetime] NULL,
	[IdHorario] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FingerClient]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FingerClient](
	[Clientid] [int] NOT NULL,
	[ClientName] [varchar](50) NULL,
	[Linkmode] [smallint] NOT NULL,
	[IPaddress] [varchar](255) NULL,
	[ClientNumber] [int] NULL,
	[Baudrate] [int] NULL,
	[RecStatus] [int] NULL,
	[Floorid] [int] NULL,
	[MachineType] [int] NULL,
	[DeviceType] [int] NULL,
	[CommPWD] [varchar](50) NULL,
	[CommPort] [int] NULL,
	[deviceflag] [int] NULL,
	[timezone] [varchar](255) NULL,
 CONSTRAINT [PK_FingerClient] PRIMARY KEY CLUSTERED 
(
	[Clientid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ClientNumber] UNIQUE NONCLUSTERED 
(
	[ClientNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistAusentismo]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistAusentismo](
	[IdHistAus] [int] NOT NULL,
	[Userid] [nvarchar](6) NOT NULL,
	[IdAusencia] [tinyint] NOT NULL,
	[CodDiagnostico] [varchar](5) NOT NULL,
	[Horas] [smallint] NOT NULL,
	[Fecha_Ini] [smalldatetime] NOT NULL,
	[Fecha_Fin] [smalldatetime] NOT NULL,
	[Observaciones] [varchar](255) NULL,
	[MesCompensatorio] [tinyint] NULL,
 CONSTRAINT [PK_HistAusentismo] PRIMARY KEY CLUSTERED 
(
	[IdHistAus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistDisciplinario]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistDisciplinario](
	[IdHistDisc] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IdDisciplinario] [tinyint] NOT NULL,
	[FechaEvento] [smalldatetime] NOT NULL,
	[Motivos] [varchar](255) NULL,
	[Observaciones] [varchar](255) NULL,
	[Tiempo] [tinyint] NULL,
 CONSTRAINT [PK_HistDisciplinario] PRIMARY KEY CLUSTERED 
(
	[IdHistDisc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistDotacion]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistDotacion](
	[IdHistDot] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IdEtc] [smallint] NOT NULL,
	[Talla] [tinyint] NULL,
	[Cantidad] [tinyint] NULL,
	[FechaEntrega] [smalldatetime] NULL,
	[Comentario] [varchar](255) NULL,
 CONSTRAINT [PK_HistDotacion] PRIMARY KEY CLUSTERED 
(
	[IdHistDot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistLaboral]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistLaboral](
	[idHistLab] [int] NOT NULL,
	[Userid] [int] NOT NULL,
	[IdEmpresa] [int] NULL,
	[FechaIni] [smalldatetime] NULL,
	[FechaFin] [smalldatetime] NULL,
	[Comentario] [varchar](255) NULL,
 CONSTRAINT [PK_HistLaboral] PRIMARY KEY CLUSTERED 
(
	[idHistLab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoInOut]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoInOut](
	[Logid] [int] NOT NULL,
	[Userid] [int] NOT NULL,
	[CheckTime] [datetime] NOT NULL,
	[CheckType] [varchar](10) NULL,
	[Sensorid] [tinyint] NULL,
	[Checked] [bit] NULL,
	[WorkType] [tinyint] NULL,
	[AttFlag] [tinyint] NULL,
	[IdDia] [tinyint] NULL,
	[IdDjT] [tinyint] NULL,
 CONSTRAINT [PK_HistoInOut] PRIMARY KEY CLUSTERED 
(
	[Logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[Holidayid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BDate] [smalldatetime] NOT NULL,
	[Days] [smallint] NOT NULL,
 CONSTRAINT [PK_Holiday] PRIMARY KEY CLUSTERED 
(
	[Holidayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Holiday] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[BDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hTimeTable]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hTimeTable](
	[Timeid] [int] NOT NULL,
	[Timename] [nvarchar](20) NOT NULL,
	[Intime] [nvarchar](5) NOT NULL,
	[Outtime] [nvarchar](5) NOT NULL,
	[BIntime] [nvarchar](5) NOT NULL,
	[EIntime] [nvarchar](5) NOT NULL,
	[BOuttime] [nvarchar](5) NOT NULL,
	[EOuttime] [nvarchar](5) NOT NULL,
	[Latetime] [smallint] NULL,
	[Leavetime] [smallint] NULL,
	[WorkDays] [real] NULL,
	[Longtime] [smallint] NULL,
	[MustIn] [bit] NOT NULL,
	[MustOut] [bit] NOT NULL,
	[IsFreeTime] [bit] NOT NULL,
	[IsOverTime] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ids]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ids](
	[Tabla] [sysname] NOT NULL,
	[CampoId] [sysname] NULL,
	[Consec] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveClass]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveClass](
	[Classid] [int] IDENTITY(1,1) NOT NULL,
	[Classname] [varchar](50) NOT NULL,
	[ViewColor] [int] NOT NULL,
	[Showas] [varchar](2) NULL,
	[Units] [int] NULL,
	[MinUnit] [numeric](18, 2) NULL,
	[SRControl] [int] NULL,
	[IsAddup] [bit] NULL,
	[IsTimes] [bit] NULL,
	[IsLeave] [bit] NULL,
 CONSTRAINT [PK_LeaveClass] PRIMARY KEY CLUSTERED 
(
	[Classid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Classname] UNIQUE NONCLUSTERED 
(
	[Classname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemStat]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemStat](
	[Lsh] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](20) NOT NULL,
	[Udept] [varchar](50) NULL,
	[Uname] [varchar](50) NULL,
	[Normal] [real] NOT NULL,
	[Actual] [real] NOT NULL,
	[Latetime] [real] NOT NULL,
	[Earlytime] [real] NOT NULL,
	[Absenttime] [real] NOT NULL,
	[Overtime] [real] NOT NULL,
	[Noin] [int] NOT NULL,
	[Noout] [int] NOT NULL,
	[Awaytime] [real] NOT NULL,
	[BLeave] [real] NOT NULL,
	[Leave] [real] NOT NULL,
	[Freeovertime] [real] NOT NULL,
	[Worktime] [real] NOT NULL,
	[Attrate] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Lsh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPClient]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPClient](
	[OPID] [int] NOT NULL,
	[ClientNumber] [int] NOT NULL,
 CONSTRAINT [PK_OPClient] PRIMARY KEY CLUSTERED 
(
	[OPID] ASC,
	[ClientNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPDept]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPDept](
	[OPID] [int] NOT NULL,
	[DeptID] [int] NOT NULL,
 CONSTRAINT [PK_OPDept] PRIMARY KEY CLUSTERED 
(
	[OPID] ASC,
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPGroup]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPGroup](
	[OPgroupID] [int] IDENTITY(1,1) NOT NULL,
	[OPGroupName] [varchar](50) NULL,
	[OPGroupPower1] [int] NULL,
	[OPGroupPower2] [int] NULL,
	[OPGroupPower3] [int] NULL,
	[OPGroupPower4] [int] NULL,
	[OPGroupPower5] [int] NULL,
	[OPGroupPower6] [int] NULL,
	[OPGroupPower7] [int] NULL,
	[OPGroupPower8] [int] NULL,
	[OPGroupPower9] [int] NULL,
	[OPGroupPower10] [int] NULL,
	[OPGroupPower11] [int] NULL,
	[OPGroupPower12] [int] NULL,
	[OPGroupPower13] [int] NULL,
	[OPGroupPower14] [int] NULL,
 CONSTRAINT [PK_OPGroup] PRIMARY KEY CLUSTERED 
(
	[OPgroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPinfo]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPinfo](
	[Opid] [int] IDENTITY(1,1) NOT NULL,
	[OPName] [varchar](50) NOT NULL,
	[OPPwd] [varchar](100) NULL,
	[OPGroupID] [int] NULL,
 CONSTRAINT [PK_OPinfo] PRIMARY KEY CLUSTERED 
(
	[Opid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_OPName] UNIQUE NONCLUSTERED 
(
	[OPName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPLog]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPLog](
	[Logid] [int] IDENTITY(1,1) NOT NULL,
	[OPid] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[OPlog] [varchar](250) NOT NULL,
 CONSTRAINT [PK_OPLog] PRIMARY KEY CLUSTERED 
(
	[Logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutProg]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutProg](
	[Progid] [int] IDENTITY(1,1) NOT NULL,
	[ProgName] [varchar](50) NULL,
	[ProgPath] [varchar](250) NULL,
 CONSTRAINT [PK_OutProg] PRIMARY KEY CLUSTERED 
(
	[Progid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procesos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procesos](
	[IdProceso] [tinyint] NOT NULL,
	[NomProceso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Procesos] PRIMARY KEY CLUSTERED 
(
	[IdProceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Schid] [int] IDENTITY(1,1) NOT NULL,
	[Schname] [varchar](50) NOT NULL,
	[Cycles] [smallint] NOT NULL,
	[Units] [smallint] NOT NULL,
	[IsDefault] [bit] NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[Schid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Schname] UNIQUE NONCLUSTERED 
(
	[Schname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchTime]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchTime](
	[Schid] [int] NOT NULL,
	[BeginDay] [smallint] NOT NULL,
	[Timeid] [int] NOT NULL,
 CONSTRAINT [PK_SchTime] PRIMARY KEY CLUSTERED 
(
	[Schid] ASC,
	[BeginDay] ASC,
	[Timeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatItems]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatItems](
	[Itemid] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[Units] [smallint] NOT NULL,
	[MinUnit] [numeric](18, 2) NOT NULL,
	[SRControl] [smallint] NOT NULL,
	[IsAddup] [bit] NOT NULL,
	[IsTimes] [bit] NOT NULL,
	[Showas] [varchar](2) NULL,
 CONSTRAINT [PK_StatItems] PRIMARY KEY CLUSTERED 
(
	[Itemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Statusid] [int] NOT NULL,
	[StatusChar] [varchar](2) NOT NULL,
	[StatusText] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Statusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbAfp]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbAfp](
	[IdAfp] [tinyint] NOT NULL,
	[NomAfp] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TbAfp] PRIMARY KEY CLUSTERED 
(
	[IdAfp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbArea]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbArea](
	[IdArea] [tinyint] NOT NULL,
	[NomArea] [varchar](50) NOT NULL,
	[JefeArea] [int] NULL,
	[AreaSup] [tinyint] NULL,
 CONSTRAINT [PK_TbArea] PRIMARY KEY CLUSTERED 
(
	[IdArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbArp]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbArp](
	[IdArp] [int] NOT NULL,
	[NomArp] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TbArp] PRIMARY KEY CLUSTERED 
(
	[IdArp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCapacitaciones]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCapacitaciones](
	[IdCapacitacion] [smallint] NOT NULL,
	[NomCapacitacion] [nvarchar](255) NOT NULL,
	[FechaCapacitacion] [smalldatetime] NOT NULL,
	[Expositor] [varchar](255) NOT NULL,
	[Ejecutado] [bit] NOT NULL,
	[Calificable] [bit] NOT NULL,
	[Duracion] [int] NULL,
 CONSTRAINT [PK_TbCapacitaciones] PRIMARY KEY CLUSTERED 
(
	[IdCapacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCargos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCargos](
	[IdCargo] [tinyint] NOT NULL,
	[IdArea] [tinyint] NOT NULL,
	[NomCargo] [nvarchar](50) NOT NULL,
	[Vigente] [bit] NOT NULL,
 CONSTRAINT [PK_TbCargos] PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCesantias]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCesantias](
	[IdCesantia] [tinyint] NOT NULL,
	[NomCesantia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TbCesantias] PRIMARY KEY CLUSTERED 
(
	[IdCesantia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCiudades]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCiudades](
	[IdCiudad] [tinyint] NOT NULL,
	[NomCiudad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TbCiudades] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCptNovedades]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCptNovedades](
	[IdCpt] [tinyint] NOT NULL,
	[NomCpt] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TbCptNovedades] PRIMARY KEY CLUSTERED 
(
	[IdCpt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDiaJornadaTurno]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDiaJornadaTurno](
	[IdDjT] [tinyint] NOT NULL,
	[IdDia] [tinyint] NOT NULL,
	[IdJt] [tinyint] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TbDiaJornadaTurno] PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC,
	[IdJt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDias]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDias](
	[IdDia] [tinyint] NOT NULL,
	[NomDia] [varchar](50) NOT NULL,
	[Festivo] [bit] NOT NULL,
 CONSTRAINT [PK_TbDias] PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbEmpresas]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbEmpresas](
	[IdEmpresa] [smallint] NOT NULL,
	[NomEmpresa] [nvarchar](255) NOT NULL,
	[Contacto] [nvarchar](255) NULL,
	[Telefono] [nvarchar](255) NULL,
 CONSTRAINT [PK_TbEmpresas] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbEps]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbEps](
	[IdEps] [tinyint] NOT NULL,
	[NomEps] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TbEps] PRIMARY KEY CLUSTERED 
(
	[IdEps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbEstadoCivil]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbEstadoCivil](
	[IdEstadoCivil] [tinyint] NOT NULL,
	[NomEstadoCivil] [varchar](50) NOT NULL,
	[Comentario] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbEstadoContrato]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbEstadoContrato](
	[IdEstado] [tinyint] NOT NULL,
	[NomEstado] [varchar](50) NOT NULL,
	[Comentario] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbFacial]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbFacial](
	[UserId] [int] NOT NULL,
	[FechaHoraReg] [datetime] NOT NULL,
	[FechaReg] [date] NOT NULL,
	[HoraReg] [time](7) NULL,
	[Direccion] [varchar](150) NULL,
	[Dispositivo] [smallint] NULL,
	[SerieDisp] [varchar](50) NULL,
	[Empleado] [varchar](50) NULL,
	[Targeta] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbFamilia]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbFamilia](
	[IdFamilia] [int] NOT NULL,
	[Documento] [varchar](15) NULL,
	[TipoDocumento] [tinyint] NULL,
	[IdParentesco] [tinyint] NULL,
	[FechaNacimiento] [smalldatetime] NULL,
	[Nombres] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](50) NULL,
	[Celular] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[Userid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbFestivos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbFestivos](
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbGrupos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbGrupos](
	[IdGrupo] [tinyint] NOT NULL,
	[NomGrupo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TbGrupos] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbGrupoSanguineo]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbGrupoSanguineo](
	[IdGrSanguineo] [tinyint] NOT NULL,
	[GrupoSanguineo] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_TbGrupoSanguineo] PRIMARY KEY CLUSTERED 
(
	[IdGrSanguineo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbInfAcademica]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbInfAcademica](
	[IdInfAcad] [int] NOT NULL,
	[Userid] [nvarchar](20) NULL,
	[Nivel] [tinyint] NULL,
	[Titulo] [nvarchar](255) NULL,
	[Institucion] [nvarchar](255) NULL,
	[Year] [nvarchar](255) NULL,
	[Ciudad] [nvarchar](255) NULL,
	[Terminado] [bit] NOT NULL,
	[NumNivel] [tinyint] NULL,
	[SinTerminar] [bit] NULL,
	[Grado] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbInfProfesional]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbInfProfesional](
	[Userid] [int] NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
	[Año] [smallint] NOT NULL,
	[JefeInmediato] [varchar](50) NOT NULL,
	[Comentarios] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbJornada]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbJornada](
	[IdJornada] [tinyint] NOT NULL,
	[NomJornada] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TbJornada] PRIMARY KEY CLUSTERED 
(
	[IdJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbJornadaTurno]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbJornadaTurno](
	[IdJt] [tinyint] NOT NULL,
	[IdJornada] [tinyint] NOT NULL,
	[Idturno] [tinyint] NOT NULL,
 CONSTRAINT [PK_TbJornadaTurno] PRIMARY KEY CLUSTERED 
(
	[IdJornada] ASC,
	[Idturno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbLocalidades]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbLocalidades](
	[IdLocalidad] [tinyint] NOT NULL,
	[NomLocalidad] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMaquinas]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMaquinas](
	[IdProc] [tinyint] NOT NULL,
	[IdMaq] [tinyint] NOT NULL,
	[MonMaq] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TbMaquinas] PRIMARY KEY CLUSTERED 
(
	[IdProc] ASC,
	[IdMaq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMedioTransp]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMedioTransp](
	[IdMedioTrans] [tinyint] NOT NULL,
	[MedioTrans] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TbMedioTransp] PRIMARY KEY CLUSTERED 
(
	[IdMedioTrans] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbNivelEdu]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbNivelEdu](
	[IdNivel] [tinyint] NOT NULL,
	[NomNivel] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbNovedades]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbNovedades](
	[IdNovedad] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[IdCpt] [tinyint] NOT NULL,
	[IdTurno] [tinyint] NOT NULL,
	[Observacion] [varchar](255) NULL,
	[Desde] [smalldatetime] NULL,
	[Hasta] [smalldatetime] NULL,
	[JefeInm] [int] NULL,
	[FechaVB-GesHum] [smalldatetime] NULL,
	[ObsGesHum] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbParentesco]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbParentesco](
	[IdParentesco] [tinyint] NOT NULL,
	[NomParentesco] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPlantaAutorizada]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPlantaAutorizada](
	[IdCargo] [smallint] NOT NULL,
	[Año] [smallint] NOT NULL,
	[Mes] [tinyint] NOT NULL,
	[Mercico] [tinyint] NOT NULL,
	[Temporal] [tinyint] NOT NULL,
 CONSTRAINT [PK_TbPlantaAutorizada] PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC,
	[Año] ASC,
	[Mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbRotacionTurnos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbRotacionTurnos](
	[UserId] [nvarchar](20) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdTurno] [tinyint] NOT NULL,
	[IdGrupo] [tinyint] NOT NULL,
	[IdMaq] [tinyint] NOT NULL,
 CONSTRAINT [PK_TbRotacionTurnos] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Fecha] ASC,
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbRutas]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbRutas](
	[IdRuta] [tinyint] NOT NULL,
	[NomRuta] [varchar](30) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Rutas] PRIMARY KEY CLUSTERED 
(
	[IdRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTalla]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTalla](
	[IdTalla] [tinyint] NOT NULL,
	[NomTalla] [varchar](255) NOT NULL,
	[Tipo] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTipoContrato]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTipoContrato](
	[IdTipoContrato] [tinyint] NOT NULL,
	[NomTipoContrato] [varchar](50) NOT NULL,
	[Comentario] [varchar](250) NULL,
 CONSTRAINT [PK_TbTipoContrato] PRIMARY KEY CLUSTERED 
(
	[IdTipoContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTrabJornada]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTrabJornada](
	[IdTrabJornada] [int] NOT NULL,
	[IserId] [varchar](50) NOT NULL,
	[IdJornadaTurnao] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTurnos]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTurnos](
	[Idturno] [tinyint] NOT NULL,
	[Entra] [time](7) NOT NULL,
	[Sale] [time](7) NOT NULL,
	[Nomturno] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_TbTurnos] PRIMARY KEY CLUSTERED 
(
	[Idturno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUsuarios]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUsuarios](
	[IdUsuario] [tinyint] NOT NULL,
	[NomUsuario] [varchar](50) NOT NULL,
	[IdRol] [tinyint] NOT NULL,
	[Clave] [varchar](50) NOT NULL,
	[NomUsu] [varchar](50) NOT NULL,
	[ApeUsu] [varchar](50) NOT NULL,
	[TipoUsuario] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeTable]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTable](
	[Timeid] [int] IDENTITY(1,1) NOT NULL,
	[Timename] [varchar](20) NOT NULL,
	[Intime] [varchar](5) NOT NULL,
	[Outtime] [varchar](5) NOT NULL,
	[BIntime] [varchar](5) NOT NULL,
	[EIntime] [varchar](5) NOT NULL,
	[BOuttime] [varchar](5) NOT NULL,
	[EOuttime] [varchar](5) NOT NULL,
	[Latetime] [smallint] NOT NULL,
	[Leavetime] [smallint] NOT NULL,
	[WorkDays] [numeric](18, 2) NOT NULL,
	[Longtime] [smallint] NOT NULL,
	[MustIn] [bit] NULL,
	[MustOut] [bit] NULL,
	[IsFreeTime] [bit] NULL,
	[IsOverTime] [bit] NULL,
 CONSTRAINT [PK_TimeTable] PRIMARY KEY CLUSTERED 
(
	[Timeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Timename] UNIQUE NONCLUSTERED 
(
	[Timename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDotacion]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDotacion](
	[IdTipoDotacion] [tinyint] NOT NULL,
	[NomDotacion] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Caracteristica] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTallaje]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTallaje](
	[IdTipo] [tinyint] NOT NULL,
	[NomTipo] [varchar](50) NOT NULL,
	[Unidad] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAutoClass]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAutoClass](
	[Lsh] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](20) NOT NULL,
	[Timeid] [int] NULL,
 CONSTRAINT [PK_UserAutoClass] PRIMARY KEY CLUSTERED 
(
	[Lsh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserAutoClass] UNIQUE NONCLUSTERED 
(
	[Userid] ASC,
	[Timeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCapacitacion]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCapacitacion](
	[Userid] [int] NOT NULL,
	[IdCapacitacion] [int] NOT NULL,
	[Asistio] [bit] NOT NULL,
	[Calificacion] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserComunidad]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserComunidad](
	[IdUserCom] [int] NOT NULL,
	[Userid] [nvarchar](6) NULL,
	[IdComunidad] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFinger]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFinger](
	[Userid] [varchar](20) NOT NULL,
	[Fingerid] [int] NOT NULL,
	[FPTemplate] [image] NULL,
 CONSTRAINT [PK_UserFinger] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC,
	[Fingerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userinfo]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userinfo](
	[Userid] [nvarchar](6) NOT NULL,
	[UserCode] [nvarchar](20) NULL,
	[Name] [nvarchar](50) NULL,
	[Sex] [nvarchar](10) NULL,
	[Pwd] [nvarchar](50) NULL,
	[Deptid] [int] NULL,
	[Nation] [nvarchar](255) NULL,
	[Birthday] [datetime] NULL,
	[EmployDate] [datetime] NULL,
	[Telephone] [nvarchar](50) NULL,
	[Duty] [nvarchar](50) NULL,
	[NativePlace] [nvarchar](50) NULL,
	[IDCard] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Educated] [nvarchar](50) NULL,
	[Polity] [nvarchar](50) NULL,
	[Specialty] [nvarchar](50) NULL,
	[IsAtt] [bit] NULL,
	[Isovertime] [bit] NULL,
	[Isrest] [bit] NULL,
	[Remark] [nvarchar](250) NULL,
	[MgFlag] [smallint] NULL,
	[Cardnum] [nvarchar](20) NULL,
	[Picture] [image] NULL,
	[UserFlag] [int] NULL,
	[Groupid] [int] NULL,
	[ClassFlag] [int] NULL,
	[OtherInfo] [image] NULL,
	[AdminGroupId] [int] NULL,
	[IdJornada] [tinyint] NULL,
	[Retirado] [bit] NULL,
	[Mercico] [bit] NULL,
	[Email] [nvarchar](255) NULL,
	[Barrio] [nvarchar](255) NULL,
	[Localidad] [tinyint] NULL,
	[Ciudad] [nvarchar](255) NULL,
	[TipoViv] [nvarchar](255) NULL,
	[VrArriendo] [money] NULL,
	[ViaPrincipal] [nvarchar](255) NULL,
	[Estrato] [int] NULL,
	[IdRh] [tinyint] NULL,
	[CabezaFam] [bit] NULL,
	[IdTipoContrato] [tinyint] NULL,
	[IdEps] [tinyint] NULL,
	[IdAfp] [tinyint] NULL,
	[IdArp] [int] NULL,
	[IdCesantias] [tinyint] NULL,
	[IdCargo] [tinyint] NULL,
	[Estado] [tinyint] NULL,
	[FechaRetiro] [datetime] NULL,
	[Dotacion] [bit] NULL,
	[TipoDotacion] [tinyint] NULL,
	[TallaCamisa] [int] NULL,
	[TallaCalzado] [int] NULL,
	[TallaPantalon] [int] NULL,
	[MedioTrans] [nvarchar](255) NULL,
	[TiempoLlegada] [tinyint] NULL,
	[MadreSoltera] [bit] NULL,
	[Discapacitado] [bit] NULL,
	[TipoDiscapacidad] [nvarchar](255) NULL,
	[FondoEmpleado] [bit] NULL,
	[Foto] [nvarchar](255) NULL,
	[VivConMercico] [bit] NULL,
	[CentroCosto] [tinyint] NULL,
	[Proceso] [tinyint] NULL,
	[Escalafon] [int] NULL,
	[Locker] [tinyint] NULL,
	[Consecutivo] [int] NULL,
	[EmailCorp] [nvarchar](255) NULL,
	[IdJefe] [nvarchar](20) NULL,
	[Sede] [nvarchar](15) NULL,
	[Parada] [varchar](30) NULL,
 CONSTRAINT [PK_Userinfo] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userinfo_ant]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userinfo_ant](
	[Userid] [varchar](20) NOT NULL,
	[UserCode] [varchar](20) NULL,
	[Name] [varchar](50) NULL,
	[Sex] [varchar](10) NULL,
	[Pwd] [varchar](50) NULL,
	[Deptid] [int] NOT NULL,
	[Nation] [varchar](50) NULL,
	[Birthday] [smalldatetime] NULL,
	[EmployDate] [smalldatetime] NULL,
	[Telephone] [varchar](50) NULL,
	[Duty] [varchar](50) NULL,
	[NativePlace] [varchar](50) NULL,
	[IDCard] [varchar](50) NULL,
	[Address] [varchar](150) NULL,
	[Mobile] [varchar](50) NULL,
	[Educated] [varchar](50) NULL,
	[Polity] [varchar](50) NULL,
	[Specialty] [varchar](50) NULL,
	[IsAtt] [bit] NULL,
	[Isovertime] [bit] NULL,
	[Isrest] [bit] NULL,
	[Remark] [varchar](250) NULL,
	[MgFlag] [smallint] NULL,
	[CardNum] [varchar](10) NULL,
	[Picture] [image] NULL,
	[UserFlag] [int] NULL,
	[Groupid] [int] NULL,
	[ClassFlag] [int] NULL,
	[OtherInfo] [image] NULL,
	[admingroupid] [int] NULL,
	[Mercico] [bigint] NULL,
 CONSTRAINT [PK_Userid] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Userinfo] UNIQUE NONCLUSTERED 
(
	[UserCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLeave]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLeave](
	[Lsh] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](20) NOT NULL,
	[BeginTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[LeaveClassid] [int] NOT NULL,
	[Whys] [varchar](250) NULL,
	[Checked] [bit] NULL,
 CONSTRAINT [PK_UserLeave] PRIMARY KEY CLUSTERED 
(
	[Lsh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserLeave] UNIQUE NONCLUSTERED 
(
	[Userid] ASC,
	[BeginTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPower]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPower](
	[Logid] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](20) NOT NULL,
	[ClientNumber] [int] NOT NULL,
	[PowerFlag] [int] NOT NULL,
 CONSTRAINT [PK_UserPower] PRIMARY KEY CLUSTERED 
(
	[Logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserPower] UNIQUE NONCLUSTERED 
(
	[Userid] ASC,
	[ClientNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserShift]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserShift](
	[Userid] [varchar](20) NOT NULL,
	[Schid] [int] NOT NULL,
	[BeginDate] [varchar](10) NOT NULL,
	[EndDate] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UserShift] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC,
	[Schid] ASC,
	[BeginDate] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTempShift]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTempShift](
	[Userid] [varchar](20) NOT NULL,
	[Timeid] [int] NOT NULL,
	[WorkDate] [varchar](10) NOT NULL,
	[IsOvertime] [bit] NOT NULL,
 CONSTRAINT [PK_UserTempShift] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC,
	[Timeid] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkCode]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCode](
	[WorkID] [int] IDENTITY(1,1) NOT NULL,
	[WorkName] [varchar](50) NOT NULL,
	[Units] [int] NULL,
	[MinUnit] [numeric](18, 2) NULL,
	[SRControl] [int] NULL,
	[IsAddup] [bit] NULL,
	[IsTimes] [bit] NULL,
 CONSTRAINT [PK_WorkCode] PRIMARY KEY CLUSTERED 
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_WorkName] UNIQUE NONCLUSTERED 
(
	[WorkName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_MemAbnor]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_MemAbnor](
	[Lsh] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [varchar](20) NOT NULL,
	[Ucode] [varchar](20) NULL,
	[Udept] [varchar](50) NULL,
	[Uname] [varchar](50) NULL,
	[BeginTime] [varchar](19) NULL,
	[EndTime] [varchar](19) NULL,
	[AbnorShow] [varchar](20) NULL,
	[TimeLong] [varchar](20) NULL,
	[Workday] [numeric](18, 2) NULL,
	[Worklong] [varchar](20) NULL,
	[Remark] [varchar](250) NULL,
 CONSTRAINT [PK_Z_MemAbnor] PRIMARY KEY CLUSTERED 
(
	[Lsh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Z_MemAbnor] UNIQUE NONCLUSTERED 
(
	[Uid] ASC,
	[BeginTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_MemRecord]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_MemRecord](
	[Lsh] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [varchar](20) NOT NULL,
	[Ucode] [varchar](20) NULL,
	[Checktime] [varchar](19) NULL,
	[Udept] [varchar](50) NULL,
	[Uname] [varchar](50) NULL,
	[Utype] [int] NULL,
	[Utypename] [varchar](20) NULL,
	[Sensorid] [int] NULL,
	[Timename] [varchar](20) NULL,
	[Disposeplan] [varchar](20) NULL,
	[Errorshow] [varchar](20) NULL,
	[Checked] [bit] NOT NULL,
	[UAttFlag] [int] NULL,
	[UAttFlagName] [varchar](20) NULL,
	[UWorktype] [int] NULL,
	[ULogid] [varchar](20) NULL,
 CONSTRAINT [PK_Z_MemRecord] PRIMARY KEY CLUSTERED 
(
	[Lsh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Z_MemRecord] UNIQUE NONCLUSTERED 
(
	[Uid] ASC,
	[Checktime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Z_MemUClass]    Script Date: 17/09/2025 8:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Z_MemUClass](
	[Lsh] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [varchar](20) NOT NULL,
	[Ucode] [varchar](20) NULL,
	[Udate] [varchar](10) NULL,
	[Udept] [varchar](50) NULL,
	[Uname] [varchar](50) NULL,
	[TimeName] [varchar](20) NULL,
	[OnTime] [varchar](16) NULL,
	[OffTime] [varchar](16) NULL,
	[SOntime] [varchar](16) NULL,
	[SOfftime] [varchar](16) NULL,
	[EOntime] [varchar](16) NULL,
	[EOfftime] [varchar](16) NULL,
	[Latetime] [int] NULL,
	[Earlytime] [int] NULL,
	[OnFlag] [bit] NOT NULL,
	[OffFlag] [bit] NOT NULL,
	[Workday] [numeric](18, 2) NULL,
	[WorkLong] [int] NULL,
	[AOntime] [varchar](19) NULL,
	[Aofftime] [varchar](19) NULL,
	[TLate] [varchar](8) NULL,
	[TEarly] [varchar](8) NULL,
	[TAdd] [varchar](8) NULL,
	[IsNoIn] [bit] NOT NULL,
	[IsNoOut] [bit] NOT NULL,
	[IsNoWork] [bit] NOT NULL,
	[IsFreeTime] [bit] NOT NULL,
	[IsOverTime] [bit] NOT NULL,
	[Memo] [varchar](20) NULL,
	[MemoTime] [varchar](8) NULL,
	[AbnorFlag] [int] NULL,
	[AOntime2] [varchar](8) NULL,
	[Aofftime2] [varchar](8) NULL,
	[AWorktime] [varchar](8) NULL,
	[UWorktime] [varchar](8) NULL,
	[UWorkname] [varchar](8) NULL,
	[Checked] [bit] NOT NULL,
 CONSTRAINT [PK_Z_MemUClass] PRIMARY KEY CLUSTERED 
(
	[Lsh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Z_MemUClass] UNIQUE NONCLUSTERED 
(
	[Uid] ASC,
	[Udate] ASC,
	[TimeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessGroup] ADD  CONSTRAINT [DF_AccessGroup_AccessTimeid1]  DEFAULT ((0)) FOR [AccessTimeid1]
GO
ALTER TABLE [dbo].[AccessGroup] ADD  CONSTRAINT [DF_AccessGroup_AccessTimeid11]  DEFAULT ((0)) FOR [AccessTimeid2]
GO
ALTER TABLE [dbo].[AccessGroup] ADD  CONSTRAINT [DF_AccessGroup_AccessTimeid12]  DEFAULT ((0)) FOR [AccessTimeid3]
GO
ALTER TABLE [dbo].[AccessGroup] ADD  CONSTRAINT [DF_AccessGroup_AccessTimeid13]  DEFAULT ((0)) FOR [AccessTimeid4]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_MONBeginTime]  DEFAULT ('00:00') FOR [MONBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_MONEndTime]  DEFAULT ('00:00') FOR [MONEndTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_TUEBeginTime]  DEFAULT ('00:00') FOR [TUEBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_TUEEndTime]  DEFAULT ('00:00') FOR [TUEEndTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_WEDBeginTime]  DEFAULT ('00:00') FOR [WEDBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_WEDEndTime]  DEFAULT ('00:00') FOR [WEDEndTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_THUBeginTime]  DEFAULT ('00:00') FOR [THUBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_THUEndTime]  DEFAULT ('00:00') FOR [THUEndTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_FRIBeginTime]  DEFAULT ('00:00') FOR [FRIBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_FRIEndTime]  DEFAULT ('00:00') FOR [FRIEndTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_SATBeginTime]  DEFAULT ('00:00') FOR [SATBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_SATEndTime]  DEFAULT ('00:00') FOR [SATEndTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_SUNBeginTime]  DEFAULT ('00:00') FOR [SUNBeginTime]
GO
ALTER TABLE [dbo].[AccessTime] ADD  CONSTRAINT [DF_AccessTime_SUNEndTime]  DEFAULT ('00:00') FOR [SUNEndTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_TwoDay]  DEFAULT ((0)) FOR [TwoDay]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_NoClockIn]  DEFAULT ((0)) FOR [NoClockIn]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_NoClockOut]  DEFAULT ((0)) FOR [NoClockOut]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_LateTime]  DEFAULT ((60)) FOR [LateTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_LeaveTime]  DEFAULT ((60)) FOR [LeaveTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_ISOverTime]  DEFAULT ((0)) FOR [ISOverTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_OverTime]  DEFAULT ((60)) FOR [OverTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_WorkDayLong]  DEFAULT ((480)) FOR [WorkDayLong]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF__BasePara__WOverT__1C873BEC]  DEFAULT ((1)) FOR [WOverTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF__BasePara__HOverT__1D7B6025]  DEFAULT ((1)) FOR [HOverTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF__BasePara__FOverT__1E6F845E]  DEFAULT ((1)) FOR [FOverTime]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF__BasePara__Overti__70A8B9AE]  DEFAULT ((60)) FOR [OvertimeIn]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_IsovertimeIn]  DEFAULT ((0)) FOR [IsovertimeIn]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_DeductIn]  DEFAULT ((0)) FOR [DeductIn]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_DeductOut]  DEFAULT ((0)) FOR [DeductOut]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_MinWorkLong]  DEFAULT ((10)) FOR [MinWorkLong]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_MaxWorkLong]  DEFAULT ((720)) FOR [MaxWorkLong]
GO
ALTER TABLE [dbo].[BasePara] ADD  CONSTRAINT [DF_BasePara_RestDays]  DEFAULT ((96)) FOR [RestDays]
GO
ALTER TABLE [dbo].[BasePara] ADD  DEFAULT ((1)) FOR [databasever]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_CheckTime]  DEFAULT (getdate()) FOR [CheckTime]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_CheckType]  DEFAULT ((0)) FOR [CheckType]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_Sensorid]  DEFAULT ((0)) FOR [Sensorid]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_Checked]  DEFAULT ((0)) FOR [Checked]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_Exported]  DEFAULT ((0)) FOR [Exported]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_OpenDoorFlag]  DEFAULT ((0)) FOR [OpenDoorFlag]
GO
ALTER TABLE [dbo].[Checkinout] ADD  CONSTRAINT [DF_Checkinout_Horario]  DEFAULT ((0)) FOR [IdHorario]
GO
ALTER TABLE [dbo].[Checkinout] ADD  DEFAULT ((0)) FOR [temperature]
GO
ALTER TABLE [dbo].[Checkinout] ADD  DEFAULT ((0)) FOR [whynoopen]
GO
ALTER TABLE [dbo].[Checkinout] ADD  DEFAULT ((0)) FOR [mask]
GO
ALTER TABLE [dbo].[CheckLog] ADD  CONSTRAINT [DF_CheckLog_Checktype]  DEFAULT ((0)) FOR [Checktype]
GO
ALTER TABLE [dbo].[CheckLog] ADD  CONSTRAINT [DF_CheckLog_Sensorid]  DEFAULT ((0)) FOR [Sensorid]
GO
ALTER TABLE [dbo].[CheckLog] ADD  CONSTRAINT [DF_CheckLog_WorkType]  DEFAULT ((0)) FOR [WorkType]
GO
ALTER TABLE [dbo].[CheckLog] ADD  CONSTRAINT [DF_CheckLog_AttFlag]  DEFAULT ((0)) FOR [AttFlag]
GO
ALTER TABLE [dbo].[CheckLog] ADD  CONSTRAINT [DF_CheckLog_DTime]  DEFAULT (getdate()) FOR [DTime]
GO
ALTER TABLE [dbo].[Depth] ADD  CONSTRAINT [DF_Dept_SupDeptid]  DEFAULT ((0)) FOR [SupDeptid]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_Clientid]  DEFAULT ((0)) FOR [Clientid]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_Linkmode]  DEFAULT ((1)) FOR [Linkmode]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_ClientNumber]  DEFAULT ((0)) FOR [ClientNumber]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_Baudrate]  DEFAULT ((5)) FOR [Baudrate]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF__FingerCli__RecSt__693CA210]  DEFAULT ((0)) FOR [RecStatus]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_Floorid]  DEFAULT ((0)) FOR [Floorid]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_MachineType]  DEFAULT ((1)) FOR [MachineType]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_DeviceType]  DEFAULT ((0)) FOR [DeviceType]
GO
ALTER TABLE [dbo].[FingerClient] ADD  CONSTRAINT [DF_FingerClient_CommPort]  DEFAULT ((33302)) FOR [CommPort]
GO
ALTER TABLE [dbo].[FingerClient] ADD  DEFAULT ((2)) FOR [deviceflag]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_ViewColor]  DEFAULT ((0)) FOR [ViewColor]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_Units]  DEFAULT ((0)) FOR [Units]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_MinUnit]  DEFAULT ((1)) FOR [MinUnit]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_SRControl]  DEFAULT ((2)) FOR [SRControl]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_IsAddup]  DEFAULT ((1)) FOR [IsAddup]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_IsTimes]  DEFAULT ((0)) FOR [IsTimes]
GO
ALTER TABLE [dbo].[LeaveClass] ADD  CONSTRAINT [DF_LeaveClass_IsLeave]  DEFAULT ((1)) FOR [IsLeave]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Normal]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Actual]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Latetime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Earlytime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Absenttime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Overtime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Noin]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Noout]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Awaytime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [BLeave]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Leave]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Freeovertime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Worktime]
GO
ALTER TABLE [dbo].[MemStat] ADD  DEFAULT ((0)) FOR [Attrate]
GO
ALTER TABLE [dbo].[OPClient] ADD  CONSTRAINT [DF_OPClient_ClientNumber]  DEFAULT ((0)) FOR [ClientNumber]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower1]  DEFAULT ((0)) FOR [OPGroupPower1]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower2]  DEFAULT ((0)) FOR [OPGroupPower2]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower3]  DEFAULT ((0)) FOR [OPGroupPower3]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower4]  DEFAULT ((0)) FOR [OPGroupPower4]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower5]  DEFAULT ((0)) FOR [OPGroupPower5]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower6]  DEFAULT ((0)) FOR [OPGroupPower6]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower7]  DEFAULT ((0)) FOR [OPGroupPower7]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower8]  DEFAULT ((0)) FOR [OPGroupPower8]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower9]  DEFAULT ((0)) FOR [OPGroupPower9]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower10]  DEFAULT ((0)) FOR [OPGroupPower10]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower11]  DEFAULT ((0)) FOR [OPGroupPower11]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower12]  DEFAULT ((0)) FOR [OPGroupPower12]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower13]  DEFAULT ((0)) FOR [OPGroupPower13]
GO
ALTER TABLE [dbo].[OPGroup] ADD  CONSTRAINT [DF_OPGroup_OPGroupPower14]  DEFAULT ((0)) FOR [OPGroupPower14]
GO
ALTER TABLE [dbo].[OPinfo] ADD  CONSTRAINT [DF_OPinfo_Authority]  DEFAULT ((1)) FOR [OPGroupID]
GO
ALTER TABLE [dbo].[OPLog] ADD  CONSTRAINT [DF_OPLog_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[Schedule] ADD  CONSTRAINT [DF_Schedule_Cycles]  DEFAULT ((1)) FOR [Cycles]
GO
ALTER TABLE [dbo].[Schedule] ADD  CONSTRAINT [DF_Schedule_Units]  DEFAULT ((1)) FOR [Units]
GO
ALTER TABLE [dbo].[Schedule] ADD  CONSTRAINT [DF_Schedule_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[SchTime] ADD  CONSTRAINT [DF_SchTime_BeginDay]  DEFAULT ((0)) FOR [BeginDay]
GO
ALTER TABLE [dbo].[SchTime] ADD  CONSTRAINT [DF_SchTime_Timeid]  DEFAULT ((0)) FOR [Timeid]
GO
ALTER TABLE [dbo].[StatItems] ADD  CONSTRAINT [DF_StatItems_Units]  DEFAULT ((1)) FOR [Units]
GO
ALTER TABLE [dbo].[StatItems] ADD  CONSTRAINT [DF_StatItems_MinUnit]  DEFAULT ((1)) FOR [MinUnit]
GO
ALTER TABLE [dbo].[StatItems] ADD  CONSTRAINT [DF_StatItems_SRControl]  DEFAULT ((2)) FOR [SRControl]
GO
ALTER TABLE [dbo].[StatItems] ADD  CONSTRAINT [DF_StatItems_IsAddup]  DEFAULT ((1)) FOR [IsAddup]
GO
ALTER TABLE [dbo].[StatItems] ADD  CONSTRAINT [DF_StatItems_IsTimes]  DEFAULT ((0)) FOR [IsTimes]
GO
ALTER TABLE [dbo].[TbRotacionTurnos] ADD  CONSTRAINT [DF_TbRotacionTurnos_IdTurno]  DEFAULT ((0)) FOR [IdTurno]
GO
ALTER TABLE [dbo].[TbRotacionTurnos] ADD  CONSTRAINT [DF_TbRotacionTurnos_IdGrupo]  DEFAULT ((0)) FOR [IdGrupo]
GO
ALTER TABLE [dbo].[TbRotacionTurnos] ADD  CONSTRAINT [DF_TbRotacionTurnos_IdMaq]  DEFAULT ((0)) FOR [IdMaq]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_Latetime]  DEFAULT ((0)) FOR [Latetime]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_Leavetime]  DEFAULT ((0)) FOR [Leavetime]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_WorkDays]  DEFAULT ((1)) FOR [WorkDays]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_Longtime]  DEFAULT ((480)) FOR [Longtime]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_MustIn]  DEFAULT ((1)) FOR [MustIn]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_MustOut]  DEFAULT ((1)) FOR [MustOut]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_IsFreeTime]  DEFAULT ((0)) FOR [IsFreeTime]
GO
ALTER TABLE [dbo].[TimeTable] ADD  CONSTRAINT [DF_TimeTable_IsOverTime]  DEFAULT ((0)) FOR [IsOverTime]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_Deptid]  DEFAULT ((1)) FOR [Deptid]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_IsAtt]  DEFAULT ((1)) FOR [IsAtt]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_Isovertime]  DEFAULT ((1)) FOR [Isovertime]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_Isrest]  DEFAULT ((1)) FOR [Isrest]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_MgFlag]  DEFAULT ((1)) FOR [MgFlag]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_UserFlag]  DEFAULT ((0)) FOR [UserFlag]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_Groupid]  DEFAULT ((1)) FOR [Groupid]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF__Userinfo__workda__607251E5]  DEFAULT ((0)) FOR [ClassFlag]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  DEFAULT ((0)) FOR [admingroupid]
GO
ALTER TABLE [dbo].[Userinfo_ant] ADD  CONSTRAINT [DF_Userinfo_Mercico]  DEFAULT ((0)) FOR [Mercico]
GO
ALTER TABLE [dbo].[UserLeave] ADD  CONSTRAINT [DF_UserLeave_LeaveClassid]  DEFAULT ((1)) FOR [LeaveClassid]
GO
ALTER TABLE [dbo].[UserLeave] ADD  CONSTRAINT [DF_UserLeave_Checked]  DEFAULT ((0)) FOR [Checked]
GO
ALTER TABLE [dbo].[UserPower] ADD  CONSTRAINT [DF_UserPower_ClientNumber]  DEFAULT ((0)) FOR [ClientNumber]
GO
ALTER TABLE [dbo].[UserPower] ADD  CONSTRAINT [DF_UserPower_PowerFlag]  DEFAULT ((0)) FOR [PowerFlag]
GO
ALTER TABLE [dbo].[UserTempShift] ADD  CONSTRAINT [DF_UserTempShift_IsOvertime]  DEFAULT ((0)) FOR [IsOvertime]
GO
ALTER TABLE [dbo].[WorkCode] ADD  CONSTRAINT [DF_WorkCode_Units]  DEFAULT ((0)) FOR [Units]
GO
ALTER TABLE [dbo].[WorkCode] ADD  CONSTRAINT [DF_WorkCode_MinUnit]  DEFAULT ((1)) FOR [MinUnit]
GO
ALTER TABLE [dbo].[WorkCode] ADD  CONSTRAINT [DF_WorkCode_SRControl]  DEFAULT ((2)) FOR [SRControl]
GO
ALTER TABLE [dbo].[WorkCode] ADD  CONSTRAINT [DF_WorkCode_IsAddup]  DEFAULT ((1)) FOR [IsAddup]
GO
ALTER TABLE [dbo].[WorkCode] ADD  CONSTRAINT [DF_WorkCode_IsTimes]  DEFAULT ((0)) FOR [IsTimes]
GO
ALTER TABLE [dbo].[Z_MemAbnor] ADD  CONSTRAINT [DF_Z_MemAbnor_Workday]  DEFAULT ((1)) FOR [Workday]
GO
ALTER TABLE [dbo].[Z_MemRecord] ADD  CONSTRAINT [DF_Z_MemRecord_Udept]  DEFAULT ((0)) FOR [Udept]
GO
ALTER TABLE [dbo].[Z_MemRecord] ADD  CONSTRAINT [DF_Z_MemRecord_Sensorid]  DEFAULT ((0)) FOR [Sensorid]
GO
ALTER TABLE [dbo].[Z_MemRecord] ADD  CONSTRAINT [DF_Z_MemRecord_Checked]  DEFAULT ((0)) FOR [Checked]
GO
ALTER TABLE [dbo].[Z_MemRecord] ADD  CONSTRAINT [DF_Z_MemRecord_UAttFlag]  DEFAULT ((0)) FOR [UAttFlag]
GO
ALTER TABLE [dbo].[Z_MemRecord] ADD  CONSTRAINT [DF_Z_MemRecord_UWorktype]  DEFAULT ((0)) FOR [UWorktype]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_Latetime]  DEFAULT ((0)) FOR [Latetime]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_Earlytime]  DEFAULT ((0)) FOR [Earlytime]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_OnFlag]  DEFAULT ((0)) FOR [OnFlag]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_OffFlag]  DEFAULT ((0)) FOR [OffFlag]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_Workday]  DEFAULT ((1)) FOR [Workday]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_WorkLong]  DEFAULT ((480)) FOR [WorkLong]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_AbnorFlag]  DEFAULT ((0)) FOR [AbnorFlag]
GO
ALTER TABLE [dbo].[Z_MemUClass] ADD  CONSTRAINT [DF_Z_MemUClass_Checked]  DEFAULT ((0)) FOR [Checked]
GO
ALTER TABLE [dbo].[EvDspCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_EvDspCalificaciones_EvDspCriterios] FOREIGN KEY([IdCriterioCal])
REFERENCES [dbo].[EvDspCriterios] ([IdCriterioCal])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EvDspCalificaciones] CHECK CONSTRAINT [FK_EvDspCalificaciones_EvDspCriterios]
GO
ALTER TABLE [dbo].[EvDspCalificaciones]  WITH CHECK ADD  CONSTRAINT [FK_EvDspCalificaciones_EvDspEncuestado] FOREIGN KEY([Cedula])
REFERENCES [dbo].[EvDspEncuestado] ([Cedula])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EvDspCalificaciones] CHECK CONSTRAINT [FK_EvDspCalificaciones_EvDspEncuestado]
GO
ALTER TABLE [dbo].[EvDspCompetencias]  WITH CHECK ADD  CONSTRAINT [FK_EvDspCompetencias_EvDspTipo] FOREIGN KEY([IdPerfil], [IdTipo])
REFERENCES [dbo].[EvDspTipo] ([IdPerfil], [IdTipo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EvDspCompetencias] CHECK CONSTRAINT [FK_EvDspCompetencias_EvDspTipo]
GO
ALTER TABLE [dbo].[EvDspCriterios]  WITH CHECK ADD  CONSTRAINT [FK_EvDspCriterios_EvDspCompetencias] FOREIGN KEY([IdPerfil], [IdTipo], [IdCompetencia])
REFERENCES [dbo].[EvDspCompetencias] ([IdPerfil], [IdTipo], [IdCompetencia])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EvDspCriterios] CHECK CONSTRAINT [FK_EvDspCriterios_EvDspCompetencias]
GO
ALTER TABLE [dbo].[EvDspTipo]  WITH CHECK ADD  CONSTRAINT [FK_EvDspTipo_EvDspPerfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[EvDspPerfil] ([IdPerfil])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EvDspTipo] CHECK CONSTRAINT [FK_EvDspTipo_EvDspPerfil]
GO
ALTER TABLE [dbo].[HistAusentismo]  WITH CHECK ADD  CONSTRAINT [FK_HistAusentismo_Ausencias] FOREIGN KEY([IdAusencia])
REFERENCES [dbo].[Ausencias] ([IdAusencia])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HistAusentismo] CHECK CONSTRAINT [FK_HistAusentismo_Ausencias]
GO
ALTER TABLE [dbo].[HistAusentismo]  WITH CHECK ADD  CONSTRAINT [FK_HistAusentismo_Diagnostico] FOREIGN KEY([CodDiagnostico])
REFERENCES [dbo].[Diagnostico] ([CodDiagnostico])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HistAusentismo] CHECK CONSTRAINT [FK_HistAusentismo_Diagnostico]
GO
ALTER TABLE [dbo].[HistAusentismo]  WITH CHECK ADD  CONSTRAINT [FK_HistAusentismo_Userinfo] FOREIGN KEY([Userid])
REFERENCES [dbo].[Userinfo] ([Userid])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HistAusentismo] CHECK CONSTRAINT [FK_HistAusentismo_Userinfo]
GO
ALTER TABLE [dbo].[TbDiaJornadaTurno]  WITH CHECK ADD  CONSTRAINT [FK_TbDiaJornadaTurno_TbDias] FOREIGN KEY([IdDia])
REFERENCES [dbo].[TbDias] ([IdDia])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TbDiaJornadaTurno] CHECK CONSTRAINT [FK_TbDiaJornadaTurno_TbDias]
GO
ALTER TABLE [dbo].[TbDiaJornadaTurno]  WITH CHECK ADD  CONSTRAINT [FK_TbDiaJornadaTurno_TbJornadaTurno] FOREIGN KEY([IdJt])
REFERENCES [dbo].[TbJornadaTurno] ([IdJt])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TbDiaJornadaTurno] CHECK CONSTRAINT [FK_TbDiaJornadaTurno_TbJornadaTurno]
GO
ALTER TABLE [dbo].[TbJornadaTurno]  WITH CHECK ADD  CONSTRAINT [FK_TbJornadaTurno_TbJornada] FOREIGN KEY([IdJornada])
REFERENCES [dbo].[TbJornada] ([IdJornada])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TbJornadaTurno] CHECK CONSTRAINT [FK_TbJornadaTurno_TbJornada]
GO
ALTER TABLE [dbo].[TbJornadaTurno]  WITH CHECK ADD  CONSTRAINT [FK_TbJornadaTurno_TbTurnos] FOREIGN KEY([Idturno])
REFERENCES [dbo].[TbTurnos] ([Idturno])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TbJornadaTurno] CHECK CONSTRAINT [FK_TbJornadaTurno_TbTurnos]
GO
ALTER TABLE [dbo].[UserComunidad]  WITH CHECK ADD  CONSTRAINT [FK_UserComunidad_Comunidades] FOREIGN KEY([IdComunidad])
REFERENCES [dbo].[Comunidades] ([IdComunidad])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UserComunidad] CHECK CONSTRAINT [FK_UserComunidad_Comunidades]
GO
ALTER TABLE [dbo].[UserComunidad]  WITH CHECK ADD  CONSTRAINT [FK_UserComunidad_Userinfo] FOREIGN KEY([Userid])
REFERENCES [dbo].[Userinfo] ([Userid])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UserComunidad] CHECK CONSTRAINT [FK_UserComunidad_Userinfo]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_CentroCosto] FOREIGN KEY([CentroCosto])
REFERENCES [dbo].[CentroCosto] ([IdCentroCosto])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_CentroCosto]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_Dept] FOREIGN KEY([Deptid])
REFERENCES [dbo].[Dept] ([Deptid])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_Dept]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_Procesos] FOREIGN KEY([Proceso])
REFERENCES [dbo].[Procesos] ([IdProceso])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_Procesos]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbAfp] FOREIGN KEY([IdAfp])
REFERENCES [dbo].[TbAfp] ([IdAfp])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbAfp]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbArp] FOREIGN KEY([IdArp])
REFERENCES [dbo].[TbArp] ([IdArp])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbArp]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbCargos] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[TbCargos] ([IdCargo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbCargos]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbCesantias] FOREIGN KEY([IdCesantias])
REFERENCES [dbo].[TbCesantias] ([IdCesantia])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbCesantias]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbEps] FOREIGN KEY([IdEps])
REFERENCES [dbo].[TbEps] ([IdEps])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbEps]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbGrupoSanguineo] FOREIGN KEY([IdRh])
REFERENCES [dbo].[TbGrupoSanguineo] ([IdGrSanguineo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbGrupoSanguineo]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbJornada] FOREIGN KEY([IdJornada])
REFERENCES [dbo].[TbJornada] ([IdJornada])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbJornada]
GO
ALTER TABLE [dbo].[Userinfo]  WITH CHECK ADD  CONSTRAINT [FK_Userinfo_TbTipoContrato] FOREIGN KEY([IdTipoContrato])
REFERENCES [dbo].[TbTipoContrato] ([IdTipoContrato])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Userinfo] CHECK CONSTRAINT [FK_Userinfo_TbTipoContrato]
GO
ALTER TABLE [dbo].[Userinfo_ant]  WITH CHECK ADD FOREIGN KEY([Deptid])
REFERENCES [dbo].[Depth] ([Deptid])
ON UPDATE CASCADE
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserAutoClass', @level2type=N'COLUMN',@level2name=N'Timeid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado Civil' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Userinfo', @level2type=N'COLUMN',@level2name=N'Polity'
GO
